/* ========== COLORS ============ */

/* theme: Color-theme */
.ct-dark-blue, .ct-hover-dark-blue:hover {
    background-color: #133046 !important;
    color: #FFF !important;
}

.ct-text-dark-blue, .ct-hover-text-dark-blue:hover {
    color: #133046 !important;
}

.ct-blue, .ct-hover-blue:hover {
    background-color: #15959F !important;
    color: #FFF !important;
}

.ct-text-blue, .ct-hover-text-blue:hover {
    color: #15959F !important;
}

.ct-camel-light {
    background-color: #F1E4B3 !important;
}

.ct-text-camel-light {
    color: #F1E4B3 !important;
}

.ct-pink, .ct-hover-pink:hover {
    background-color: #EC9770 !important;
    color: #FFFFFF !important;
}

.ct-text-pink, .ct-hover-text-pink:hover {
    color: #EC9770 !important;
}

.ct-red, .ct-hover-red:hover {
    background-color: #C7402D !important;
    color: #FFFFFF !important;
}

.ct-text-red, .ct-hover-text-red:hover {
    color: #C7402D !important;
}


.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.keyboard button {
    margin: 5px;
    width: 40px;
    padding: 8px;
}

.attempt-number {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.good, .bad {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.word p {
    letter-spacing: 3px;
}

.level::first-letter {
    text-transform: capitalize;
}

.sidebar {
    display:none;
    z-index: 10;
}

.pointer {
    cursor:pointer;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {


}